{% extends 'base.html.twig' %}

{% block title %}ჩვენ შესახებ{% endblock %}

{% block description %}
    1937-1938 წლებში საქართველოს სსრ-ში სულ 29.051 ადამიანი იქნა რეპრესირებული,  მათ შორის 14.372 დახვრეტილი, 14.679 - გადასახლებული.
    ჩვენს ბაზაში არის 1937-1938 წლებში ე.წ. „სტალინური სიების“  საფუძველზე რეპრესირებულები - 3.616 პიროვნების მონაცემი.
{% endblock %}

{% block body %}
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="section text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">ორი სიტყვით სტალინის სიებზე</h2>
                            <h5 class="description">
                                <b>1937</b>-<b>1938</b> წლებში საქართველოს სსრ-ში სულ <b>29.051</b> ადამიანი იქნა
                                რეპრესირებული,  მათ შორის <b>14.372</b> დახვრეტილი, <b>14.679</b> - გადასახლებული.
                                ჩვენს ბაზაში არის <b>1937</b>-<b>1938</b> წლებში ე.წ. <b>„სტალინური სიების“</b>
                                საფუძველზე რეპრესირებულები - <b>3.616</b> პიროვნების მონაცემი.
                            </h5>
                            <h5 class="description text-danger">
                                მონაცემები მოწოდებულია
                                <a href="https://idfi.ge/ge" rel="tooltip" data-placement="bottom"
                                   data-original-title="ინფორმაციის თავისუფლების განვითარების ინსტიტუტის"
                                   target="_blank">IDFI</a>-ს მიერ.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="section text-center">
                    <h2 class="title">ავტორი</h2>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto">
                                <div class="team-player">
                                    <div class="card card-plain">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <img src="{{ asset('assets/img/team/abgeo.jpg') }}" alt="თემური თაკალანძე"
                                                 class="img-raised rounded-circle img-fluid">
                                        </div>
                                        <h4 class="card-title">
                                             თემური თაკალანძე
                                            <br>
                                            <small class="card-description text-muted">დეველოპერი</small>
                                        </h4>
                                        <div class="card-footer justify-content-center">
                                            <a href="https://www.abgeo.dev" target="_blank" rel="tooltip"
                                               data-placement="bottom" data-original-title="ჩემი პერსონალური ვებ-გვერდი"
                                               class="btn btn-link btn-just-icon"><i class="fa fa-globe"></i></a>
                                            <a href="https://github.com/ABGEO07" target="_blank" rel="tooltip"
                                               data-placement="bottom" data-original-title="ჩემი GitHub პროფილი"
                                               class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                                            <a href="https://www.linkedin.com/in/abgeo07/" target="_blank" rel="tooltip"
                                               data-placement="bottom" data-original-title="ჩემი LinkedIn პროფილი"
                                               class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                            <a href="https://www.facebook.com/ABGEO07" target="_blank" rel="tooltip"
                                               data-placement="bottom" data-original-title="ჩემი Facebook პროფილი"
                                               class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
